@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');
*{
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  scroll-behavior: smooth;
}
html{
  font-size: 100%;
  font-family: 'Roboto',sans-serif;
}

/* ----- home CSS-----*/

#home{
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: space-between;
}
#home h1{
  color: white;
  font-size: 1.2rem;
  margin-left: 3rem;
  margin-right: 1rem;
  font-family: 'Ribeye Marrow', cursive;
}
.nav-items{
  display: flex;
  margin-left: 1rem;
  margin-right: 5rem;
  animation: nav 1s ease-in-out;
}
.nav-items li{
  margin: 1rem;
 
}
.nav-items li a{
  display: block;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
#hamburger{
  display: none;
  width: 1.5rem;
    height: 1.5rem;
}
.nav-items .active a{
  color:  #ea234c;
  border-bottom: 2px solid  #ea234c;
 font-size: 1.2rem;
}

/*------navigation hover-----*/

.nav-items li a:hover{
 color:  #ea234c;
 font-size: 1.2rem;
}

/* ---about section-----*/

#about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  position: relative;
  background: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#about img{
  display: block;
  border: 5px solid black;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  position: relative;
  top: 1.2rem;
  right: 7rem;
  transform: rotate(-3deg);
}
#about p{
  width: 360px;
  padding: 2rem;
  color: black;
  background-color:blanchedalmond;
  height: auto; 
  font-family:'Handlee',cursive;
  line-height: 25px;
  animation: intro 1s ease-in-out;
  margin-bottom: 1rem;
}
#about p-scrollbar{
  width: 5px;

}
#skill{
  background-color: black;
}

/* -----utility-class-----*/

.utility-class{
  width: 110px;
  color: #E2D8D8;
  padding: 0.5rem;
  margin: 0.5rem auto 0.5rem auto;
  border: 3px dashed #E2D8D8;
  text-align: center;
  font-family: 'Antic Didone', serif;

}
.grouping-skills{
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}
.skill-description{
  width: 200px;
  background-color: gold;
  color: black;
  border-radius: 15px;
  padding: 0.4rem 0 0.4rem 0.8rem;
  margin-top: 0.5rem;
}

/* ---- skill section------*/

#skill{
  background-color: #222121;
}
.pair-skills{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  flex-wrap: wrap;
}
.outer-box{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: black;
  margin: 1rem 3rem 1rem 3rem;
 border: 1px solid rgba(255,255,255,0.3);
}
.inner-box{
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: grey;
  margin: 0.7rem auto 0.6rem auto;
  border: 1px solid rgba(255,255,255,0.3);
}
.inner-box img{
  width: 80px;
  height: 80px;
  display: block;
  margin: 1.3rem auto 1.3rem auto;
}

/* ----- Project section CSS-----*/

#project{
  background-color: black;
}
.project-container{
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;
}
.project-wrapper{
  width: 300px;
  height: auto;
  margin: 1rem;
}

/* project-wrapper hover*/

.project-wrapper:hover{
  transform: scale(1.11);
}
.project-wrapper img{
  display: block;
  width: 280px;
  height:150px;
  border: 5px solid white;
  border-radius: 10px;
}
.project-wrapper p{
  text-align: center;
  font-size: 1rem;
  color: #E2D8D8;
  padding-top: 0.4rem;
}
.project-wrapper a{
  color: white;
  display: block;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: blue;
  border-radius: 5px;
  border: none;
  margin: 0.5rem 0 0.5rem 0;
  width: 90px;
}


/* ----- Footer CSS-----*/

#contact{
  background-color:#222121;
  border-radius: 10px 10px 0 0;
}
.connect{
  text-align: center;
  color: #E2D8D8;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: 'Lekton', sans-serif;
}
.footer-icon-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0 0.5rem 0;
}
.footer-icon-wrapper a{
  font-size: 1.5rem;
  color: grey;
  margin: 0.5rem;
  display: block;
}
/*-----footer-icon hover-----*/
.footer-icon-wrapper a:hover{
  color: white;
  transform: scale(1.3);
}
.copyright{
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  font-size: 0.8rem;
}

/* -----form Css----*/
form{
  border: 3px solid orange;
  border-radius: 17px;
  width: 250px;
  height: 410px;
  position: absolute;
  top: 10%;
  left: 40%;
  background-color: #f2f2f2;
  position: fixed;
  z-index: 104;
  display: none;
}
.top-grouping{
  display: flex;
}
.top-grouping h2{
  width: 80px;
  font-size: 1.2rem;
  color: black;
  border: 3px dashed black;
  margin:0.5rem auto 1rem auto;
  padding: 0.4rem;
}
.top-grouping i{
  color: red;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.filling{
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.filling input,textarea{
  display: block;
  margin-top:1rem; 
  border-radius: 5px;
  width: 80%;
  padding-top: 0.4rem;
  padding-left: 0.5rem;
  padding-bottom: 0.2rem;

}

.filling button{
  display: block;
  color: white;
  background-color: green;
  border-radius: 5px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9rem;
}
/*---hover input----*/
.filling input:hover,textarea:hover{
  border: 2px solid orange;
}
.filling button:hover{
  border: 2px solid green;
}
/*---animations---*/
@keyframes nav{
  0%{
    transform: scale(0.5);
    position: relative;
    right: -100%;
  }
  50%{

    position: relative;
    right: 20px;
  }
  100%{
    transform: scale(1);
  }
}

@keyframes intro{
  0%{
    
   transform: scale(0.5);
    position: relative;
    right: 100%;

  }
  50%{
   position: relative;
   right: 20px;
  }
  100%{
transform: scale(1);
  }
}

