@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  scroll-behavior: smooth;
}
html{
  font-size: 100%;
  font-family: 'Roboto',sans-serif;
}

:root{
  --name-logo:2rem;
  --nav-links-a:1.7rem;
  --nav-links-a-active-hover:1.9rem;
  --header-about-project:black;
  --skill-connect: #222121;
  --skill-heading-font:3rem;
  --about-font:1.4rem;
  --skill-description-font:1.2rem;
  --red-pink:#ea234c;
  --honeydew:honeydew;

}

/* ----- home CSS-----*/

#home{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:var(--header-about-project);
  
}
#home h1{
  color: var(--honeydew);
  font-size: var(--name-logo) ;
  margin-left: 3rem;
  margin-right: 1rem;
  font-family: 'Ribeye Marrow', cursive;
}
.nav-items{
  display: flex;
  margin-left: 1rem;
  margin-right: 5rem;
}
.nav-items li{
  margin: 1.2rem;
 
}
.nav-items li a{
  display: block;
  color:var(--honeydew);
  font-weight: bold;
  font-size: var(--nav-links-a);
}
.nav-items .active a{
  color:  var(--red-pink);
 font-size: var(--nav-links-a-active-hover);
}

#hamburger{
  display: none;
  width: 30px;
    height: 30px;
    cursor: pointer;
}


/*------navigation hover-----*/

.nav-items li a:hover{
 color:  #ea234c;
 font-size: var(--nav-links-a-active-hover);
}


/* ---about section-----*/

#about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  position: relative;
  background-color:var(--header-about-project);
  
}
#about img{
  display: block;
  border-bottom: 7px solid black;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: relative;
  top: 1.2rem;
  right: 9rem;
  transform: rotate(-3deg);
  
}
#about p{
  width: 450px;
  padding: 2rem;
  background-color:blanchedalmond;
  height: auto; 
  font-size: var(--about-font);
  font-family:'Handlee',cursive;
  line-height: 35px;
  animation: intro 1s ease-in-out;
  margin-bottom: 1rem;
}
#about p-scrollbar{
  width: 5px;

}

#skill{
  background-color:var(--skill-connect);
}

.skill-heading{
  font-size: var(--skill-heading-font);
  color: #E2D8D8;
  margin: 2rem;
  font-family: 'Antic Didone', serif;
  font-weight: 400;
  border-bottom: 10px solid #E2D8D8;
  display: inline-block;
  text-shadow: 5px 5px 5px #E2D8D8;
  padding-bottom: 1rem;
}
.skills-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.particular-skill-wrapper{
  margin: 2rem 1rem 2rem 3rem;
  width: 28%;
}


.outer-box{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: black;
 border: 1px solid rgba(255,255,255,0.3);
 display: flex;
 justify-content: center;
 align-items: center;
}
.inner-box,.inner-box-customise{
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background-color: grey;
  border: 1px solid rgba(255,255,255,0.3);
  display: flex;
  justify-content: center;
  align-items: center;

}

.inner-box img{
  width: 130px;
  height: 130px;
}
.inner-box-customise img{
  width: 160px;
  height: 160px;
}
.skill-description{
  color: #E2D8D8;
  font-size: var(--skill-description-font);
  margin: 1rem 1rem 1rem 4.2rem;
}



/* ----- Project section CSS-----*/

#project{
  background-color:var(--header-about-project);
}

.project-heading{
  font-size: var(--skill-heading-font);
  color: #E2D8D8;
  margin: 2rem;
  font-family: 'Antic Didone', serif;
  font-weight: 400;
  border-bottom: 10px solid #E2D8D8;
  display: inline-block;
  text-shadow: 5px 5px 5px #E2D8D8;
  padding-bottom: 1rem;

}

.project-container{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
}
.project-wrapper{
  width: 400px;
  height: auto;
  margin: 3rem;
  border-radius: 5px;

}

/* project-wrapper hover*/

.project-wrapper:hover{
  transform: scale(1.2);
}
.project-wrapper img{
  display: block;
  width: 90%;
  height:200px;
  border: 10px solid var(--honeydew);
  padding: 0.5rem;
}
.project-wrapper p{
  font-size: var(--about-font);
  color: #E2D8D8;
  margin-top:1rem;
  margin-bottom: 1rem;
}
.project-link{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  margin: 1rem 1rem 1rem 0;
  width: 35%;
  height: 40px;
  cursor: pointer;
  box-shadow: var(--honeydew) 1px 1px 30px -10px;
}

.project-link a {
  color: var(--honeydew);
  font-size: 1.3rem;
}
.project-link:hover{
  background-color: rgb(11, 11, 122);
}


/* ----- Footer CSS-----*/

#contact{
  border-radius: 10px 10px 0 0;
  background-color:var(--skill-connect);
}
.connect{
  font-size: 3rem;
  color: #E2D8D8;
  margin: 2rem;
  font-family: 'Antic Didone', serif;
  font-weight: 400;
  border-bottom: 10px solid #E2D8D8;
  display: inline-block;
  text-shadow: 5px 5px 5px #E2D8D8;
  padding-bottom: 1rem;
  
}
.footer-icon-wrapper{
  display: flex;
  margin-left: 1rem;
}
.footer-icon-wrapper a{
  font-size: 3rem;
  color: var(--red-pink);
  margin: 1rem;
  display: block;
}
/*-----footer-icon hover-----*/
.footer-icon-wrapper a:hover{
  color: var(--honeydew);
  transform: scale(1.3);
}
.copyright{
  text-align: center;
  color:var(--honeydew);
  font-weight: bold;
  padding: 0.5rem;
  font-size: 1rem;
}

#chatting-icon{
  background-color:rgb(230, 225, 225);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 105;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
  animation: chat 1s linear 2;
}

#chatting-icon img{
  width: 40px;
  height: 40px;

}

/*---Form CSS---*/

#form{
  width: 400px;
  background-color: rgb(243, 237, 237);
  background-image: linear-gradient(22.5deg, rgba(242, 242, 242, 0.03) 0%, rgba(242, 242, 242, 0.03) 16%,rgba(81, 81, 81, 0.03) 16%, rgba(81, 81, 81, 0.03) 26%,rgba(99, 99, 99, 0.03) 26%, rgba(99, 99, 99, 0.03) 73%,rgba(43, 43, 43, 0.03) 73%, rgba(43, 43, 43, 0.03) 84%,rgba(213, 213, 213, 0.03) 84%, rgba(213, 213, 213, 0.03) 85%,rgba(125, 125, 125, 0.03) 85%, rgba(125, 125, 125, 0.03) 100%),linear-gradient(22.5deg, rgba(25, 25, 25, 0.03) 0%, rgba(25, 25, 25, 0.03) 54%,rgba(144, 144, 144, 0.03) 54%, rgba(144, 144, 144, 0.03) 60%,rgba(204, 204, 204, 0.03) 60%, rgba(204, 204, 204, 0.03) 76%,rgba(37, 37, 37, 0.03) 76%, rgba(37, 37, 37, 0.03) 78%,rgba(115, 115, 115, 0.03) 78%, rgba(115, 115, 115, 0.03) 91%,rgba(63, 63, 63, 0.03) 91%, rgba(63, 63, 63, 0.03) 100%),linear-gradient(157.5deg, rgba(71, 71, 71, 0.03) 0%, rgba(71, 71, 71, 0.03) 6%,rgba(75, 75, 75, 0.03) 6%, rgba(75, 75, 75, 0.03) 15%,rgba(131, 131, 131, 0.03) 15%, rgba(131, 131, 131, 0.03) 18%,rgba(110, 110, 110, 0.03) 18%, rgba(110, 110, 110, 0.03) 37%,rgba(215, 215, 215, 0.03) 37%, rgba(215, 215, 215, 0.03) 62%,rgba(5, 5, 5, 0.03) 62%, rgba(5, 5, 5, 0.03) 100%),linear-gradient(90deg, #ffffff,#ffffff);
  display: none;
  position: fixed;
  top: 3%;
  left: 35%;
  z-index: 101;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.cross-icon i{
  float: right;
  font-size: 1.5rem;
  margin: 1rem;
  cursor: pointer;
  color: var(--red-pink);
}
.form-items-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-items-wrapper h2{
  margin: 1rem 1rem;
  color: var(--red-pink);
}
.input-wrapper{
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
.input-wrapper input{
  width: 80%;
  padding: 0.8rem;
  border:none;
  margin: 1rem 0;
  background-color: #222121;
  color: var(--honeydew);
  border-radius: 5px;

}
.message-box{
  width: 80%;
  padding: 0.8rem;
  resize: none;
  border: none;
  margin: 1rem 0;
  background-color: #222121;
  color: var(--honeydew);
  border-radius: 5px;
}
.g-recaptcha{
  margin:0.5rem 0;
  transform-origin: left;
}
.submit-button{
  font-size: 1rem;
  background-color: var(--red-pink);
  color:whitesmoke;
  width: 30%;
  margin: 0.5rem 0 1rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  border:none;
  cursor: pointer;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.input-wrapper input:hover ,.message-box:hover{
  border: 2px solid var(--red-pink);
}

/* Loader css*/

#loader-wrapper{
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgb(168, 164, 164);
  opacity: 0.9;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 106;
}

.sk-circle {
  width: 100px;
  height: 100px;
  position: absolute;
  margin: 100px auto;

}
.sk-circle .sk-child {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color:var(--red-pink);
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*---animations---*/

@keyframes intro{
  0%{
    
   transform: scale(0.5);
    position: relative;
    right: 100%;

  }
  50%{
   position: relative;
   right: 20px;
  }
  100%{
transform: scale(1);
  }
}

@keyframes chat{
  0%{
    transform: scale(0);
  }
  50%{
   transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
  
}

